@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* Regras usando o fluxo de trabalho mobile-first */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-image: url(../imagens/hypnotize.png);
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

/* Regra para títulos e parágrafos (Reset customizado)
Removemos os espaçamentos deste elementos */

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* Regra para todas as imagens */

img {
  max-width: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Regra de Menu de navegação */
/* Ativamos o elemento flex para o alinhamento
horizontal e vertical do conteúdo */

header {
  display: flex;
  position: fixed;
  height: 70px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  background-color: #18381d;
  border-bottom: solid 1px;
}

.logo {
  width: 140px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  margin-right: 40px;
}

nav a {
  padding: 14px 25px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

nav a:link,
nav a:visited {
  padding: 14px 25px;
  min-height: inherit;
  align-items: center;
  justify-content: center;
  transition: background-color 1s;
}

nav a:hover {
  border-radius: 5%;
  transition: background-color 1s;
  color: black;
  background-color: #a98e12;
}

#conteudo {
  max-width: 100%;
  margin: auto;
}

#conteudo p {
  font-size: 1.1em;
}

.titulo {
  color: #ed6d19;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

#destaque {
  max-height: 500px;
  height: 100%;
}

#destaque img {
  border-bottom: dotted #ed6d19 5px;
}

.text-destaque {
  position: relative;
  bottom: 140px;
  width: 100%;
  height: 90px;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}

.text-destaque h2 {
  margin-top: 5px;
  padding: 5px 0 3px 50px;
  font-size: 2em !important;
  color: black !important;
}

.text-destaque p {
  margin-top: 5px;
  padding: 0 0 5px 50px;
  font-size: 1.1em;
}

#frase {
  height: 80px;
  text-align: center;
  color: white;
  background-color: #ed6d19;
}

#frase p {
  padding: 20px;
  font-size: 1.3em;
}

.card {
  margin: 15px 0;
  padding: 5px;
}

.card p {
  padding: 1% 0 2% 0;
  text-align: center;
}

.card-conteudo figure {
  position: relative;
  width: 50%;
  margin: 1%;
  box-shadow: gray 1px 1px 5px;
}

.card-conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-conteudo img {
  box-shadow: gray 1px 1px 5px;
}

.card-conteudo figcaption {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  padding: 10px 0;
  background-color: rgba(127, 127, 128, 0.8);
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.card-conteudo a:hover img,
.card-conteudo a:focus img {
  transition: 1s;
  filter: opacity(0.5);
}

#titulo-video {
  padding: 15px;
  color: white;
}

#video {
  width: 100%;
  background-color: rgba(6, 99, 46, 0.5);
  text-align: center;
}

iframe {
  display: block;
  margin: auto;
  max-width: 80%;
  padding: 2% 0 8% 0;
}

.conteudo-info {
  padding-top: 20%;
}

.conteudo-info p {
  margin: 2% 12% 10%;
}

#card-pacote {
  display: flex;
  padding: 10px;
  background-color: rgba(6, 99, 46, 0.5);
  text-align: center;
}

.card-pacote-info {
  max-width: 300px;
  margin: 1%;
  padding: 1%;
  border-radius: 5px;
  box-shadow: gray 1px 1px 5px;
  background-color: white;
}

.card-pacote-info h3 {
  padding: 1%;
  text-align: left;
}

.card-pacote-info p {
  padding: 3% 2px;
  text-align: justify;
}

.pac-flex {
  display: flex;
  margin-top: 15px;
  justify-content: space-evenly;
}

.pac-fotos,
.pac-reserva {
  width: 100px;
  padding: 5px;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  color: black;
  background-color: #a98e12;
}

.pac-fotos a,
.pac-reserva a {
  width: 100px;
  padding: 5px;
  color: black;
}

.pac-fotos a:hover,
.pac-reserva a:hover {
  width: 100px;
  padding: 5px;
  background-color: #ecda87;
  color: white;
  transition: background-color 1s;
  border-radius: 5%;
}

.pac-fotos a:link,
.pac-reserva a:link,
.pac-fotos a:visited,
.pac-reserva a:visited {
  min-height: inherit;
  padding: 5px;
  transition: background-color 2s;
  color: black;
}

.acessorios {
  display: flex;
  margin: auto;
  width: 88%;
  padding: 15px;
}

.produtos img {
  max-width: 100px;
  margin: 10%;
  border: solid #7f7f80 3px;
  border-radius: 100%;
  box-shadow: grey 1px 1px 5px;
}

.produtos {
  width: 230px;
  margin: 1%;
  padding: 20px;
  text-align: center;
  box-shadow: grey 1px 1px 5px;
  background-color: white;
  border-radius: 5px;
}

.produtos h4 {
  color: #ed6d19;
  text-transform: uppercase;
}

.produtos p {
  margin-top: 4px;
  font-size: 12px;
}

.img-produto {
  width: 150px;
  height: 150px;
}

.acesse {
  width: 100px;
  height: 25px;
  padding: 3px;
  margin: 8px auto;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  background-color: #ed6d19;
  border-radius: 5px;
  cursor: pointer;
}

.modal-overlay {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #f4f4f4;
  margin: 20% auto;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.modal-header h2 {
  margin: 0;
}

.modal-header {
  background: #06632e;
  padding: 15px;
  color: #fff;
}

.modal-body {
  padding: 10px 20px;
}

.closeBtn {
  margin-bottom: 8px;
  margin-right: 4px;
  font-size: 24px;
  color: #fff;
  float: right;
}

.closeBtn:hover,
.closeBtn:focus {
  color: #ed6d19;
  text-decoration: none;
  cursor: pointer;
}

#conteudo-contato {
  display: flex;
}

.cont-contato {
  width: 400px;
  margin: 3%;
}

.formulario h2,
.formulario p,
form {
  margin: 1%;
  text-align: right;
}

textarea {
  padding: 4px 8px;
  resize: none;
}

.localizacao h2,
.localizacao p,
.localizacao iframe {
  margin: 1%;
  text-align: left;
}

button {
  height: 30px;
  margin-left: 40px;
  padding-inline: 8px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: gray 1px 1px 5px;
  background-color: #ed6d19;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

button:hover {
  background-color: #a98e12;
}

.rodape {
  border-top: solid #06632e 5px;
  background-color: black;
  color: #7f7f80;
}

.rodape-conteudo {
  display: flex;
  align-items: center;
  margin: 16px 0 16px 10%;
}

.rodape-conteudo ul {
  list-style-type: none;
}

#logo-rodape {
  max-width: 150px;
  margin: 3%;
}

.menu-rodape {
  margin-right: 24px;
}

.menu-rodape a {
  text-decoration: none;
  color: #7f7f80;
}

.menu-rodape a:hover {
  color: white;
}

.redes img {
  min-width: 30px;
}

.redes ul {
  display: flex;
  text-align: center;
}

.redes li {
  width: 15%;
  padding: 3%;
}

.assinatura {
  color: white;
  background-color: #7f7f80;
  text-align: center;
  height: 40px;
  padding-top: 8px;
}

/* Design Responsivo */
/* 3ª parte: Media Queries.
Regras com ajustes para a visulaização do site
em tamanhos de telas maiores (breakpoints) */

/* Para telas a partir de 720px */
@media screen and (min-width: 720px) {
  .topo {
    padding-left: 8%;
    width: 100%;
    top: 0;
    height: 70px;
    z-index: 1000;
  }

  .topo div {
    justify-content: center;
    align-items: center;
  }

  #destaque {
    max-height: 280px;
  }

  .card-conteudo {
    flex-direction: column;
  }

  .card-conteudo figure {
    height: 20vh;
    width: 200px;
  }

  .card-conteudo figcaption {
    bottom: 4px;
  }
} /* fim do 720px */

@media screen and (min-width: 750px) {
  #frase {
    margin-top: 5%;
  }

  .conteudo-info {
    padding-top: 15%;
  }

  .conteudo-info p {
    margin: 6%;
  }
}

@media screen and (min-width: 850px) {
  nav {
    padding-left: 16%;
  }

  #frase {
    margin-top: 7%;
  }

  .card-conteudo {
    flex-direction: row;
    margin: 20px 20px 60px 20px;
    margin-inline: 10%;
  }

  .card-conteudo figure {
    width: 40%;
    margin: 30px;
  }

  .card,
  iframe,
  .conteudo-info {
    max-width: 850px;
    margin: auto;
  }

  /*  .pac-reserva {
    margin-left: 36%;
  } */

  .rodape-conteudo {
    margin-left: 20%;
  }

  /*  .assinatura p {
    padding-top: 1%;
  } */
}

@media screen and (min-width: 920px) {
  nav {
    padding-left: 18%;
  }

  #frase {
    margin-top: 14%;
  }
}

@media screen and (min-width: 1124px) {
  #frase {
    margin-top: 25%;
  }

  nav {
    padding-left: 32%;
  }
}

@media screen and (min-width: 1500px) {
  #frase {
    margin-top: 25%;
  }

  nav {
    padding-left: 45%;
  }

  .conteudo-info {
    padding-top: 10%;
  }

  .card-conteudo figcaption {
    bottom: 4px;
  }
}
